
@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2>
<div class="row">
    <div class="col-sm-6">Event Information</div>
    <div class="col-sm-6">Kobe's Last Game</div>
</div>

<div class="col-sm-12">
    <p>Cost: $499.99</p>
</div>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="W55KM63KJPDF6">
    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
